.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#button{
    font-size: medium;
}

.dob{
    border: solid rgb(186, 186, 186) 1px;
    padding: 4px 8px;
    border-radius: 3px;
    color: rgb(90, 90, 90);
    background-color: transparent;
}
